<br>
<br>
<div class="wrapper-space">
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Travelling Website</title>
  
</head>
<body>
  <section id="carousel">
    <div class="carousel-container">
      <div class="carousel-slide">
        <img src="../assets/images/Explore.jpg" alt="Slide 1">
        <img src="https://via.placeholder.com/1200x400" alt="Slide 2">
        <img src="https://via.placeholder.com/1200x400" alt="Slide 3">
      </div>
    </div>
  </section>
  <section id="marquee">
    <div class="container">
      <marquee behavior="scroll" direction="left" scrollamount="10">
        Welcome to Ticket Travelling - Book your tickets now!
      </marquee>
    </div>
  </section>
  <section>
    <div align="center">
    <h2 class="marquee-heading">Holiday</h2>
    <div class="marquee-images">
      <img src="../assets/images/train1.png" alt="Holiday Image 1">
      <img src="../assets/images/train2.png" alt="Holiday Image 2">
      <img src="../assets/images/train3.png" alt="Holiday Image 3">
      <img src="../assets/images/train4.png" alt="Holiday Image 1">
      <img src="../assets/images/train5.png" alt="Holiday Image 3">
    
     
      <!-- Add more images as needed -->
    </div>
    </div>
  </section>

  <section id="ratings">
    <div class="container">
      <h2>Customer Ratings</h2>
      <div class="rating">
        <div class="stars">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9734;</span>
        </div>
        <p>4.0 average rating based on 1000 reviews</p>
      </div>
    </div>
  </section>

  <section id="cards">
    <div class="container">
      <h2>Featured Destinations</h2>
      <div class="card-container">
        <div class="card">
          <img src="../assets/images/sideview.png" height="680px" alt="Destination 1">
          <h3>Bangalore</h3>
          <p>Explore the Big Apple's iconic landmarks.</p>
          <a href="search" class="btn">Book Now</a>
        </div>
        <div class="card">
          <img src="../assets/images/Kashmir.jpg" alt="Destination 2">
          <h3>Kashmir</h3>
          <p>Discover the City of Love and its rich history.</p>
          <a href="search" class="btn">Book Now</a>
        </div>
        <div class="card">
          <img src="../assets/images/new1.jpg" alt="Destination 3">
          <h3>Meghalaya</h3>
          <p>Experience Meghalaya's nature </p>
          <a href="searchbus" class="btn">Book Now</a>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2024 Ticket Travelling. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
</div>