<div class="wrapper-space">
    <div class="container-fluid">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Bus Ticket Details</h2>
        </div>
        <form (ngSubmit)="onSubmit()">
        <div class="panel-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>MobileNumber</th>
                <th>Email</th>
                <th>Source</th>
                <th>Destination</th>
                <th>ArrivalDate</th>
                <th>DepartureDate</th>
                <th>BusName</th>
                <th>BusFare</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ booking1.id }}</td>
                <td>{{ booking1.fullName }}</td>
                <td>{{ booking1.mobile }}</td>
                <td>{{ booking1.email }}</td>
                <td>{{ booking1.bus.source }}</td>
                <td>{{ booking1.bus.destination }}</td>
                <td>{{ booking1.bus.arrivalDate }}</td>
                <td>{{ booking1.bus.departureDate }}</td>
                <td>{{ booking1.bus.busName }}</td>
                <td>{{ booking1.bus.busFare }}</td>
                <td>
                  <button (click)="onPrint()" class="btn btn-sm btn-success">Print</button>
                </td>
                <td>
                  <button *ngIf="booking1" (click)="onUpdate()" class="btn btn-sm btn-primary">Update Booking</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    
      
    </form>
    </div>
  </div>