<div class="con">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
        </div>
        <form (ngSubmit)="onSubmit( role.value,fullname.value,mobilenumber.value,email.value,password.value)">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Role</label>
            </div>
            <select #role class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="user">User</option>
              <option value="provider">Provider</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <div class="mb-3">
            
            <label for="fullname" class="form-label">Full Name</label>
            <input #fullname type="text" class="form-control" id="fullname"  name="fullname">
          </div>
          <div class="mb-3">
            <label for="mobilenumber" class="form-label">Mobile Number</label>
            <input  #mobilenumber type="number" class="form-control" id="mobilenumber"  name="mobilenumber">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input #email type="email" class="form-control" id="email" aria-describedby="emailHelp"  name="email" placeholder="name@example.com">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input #password type="password" class="form-control" id="password"  name="password">
          </div>
          <button type="submit" class="btn btn-success">Sign up</button>
        </form>
        <a style="color: #0c0b0b;margin-top: 10px;" routerLink="/userlogin">Already Existing User? Click to Login</a>
      </div>
    </div>
  </div>
</div>